.html-body {
  background-color: white;
}

.body {
  display: flex;

  top: 4px;
  margin: 0px auto 0px auto;
  width: 100vw;
  width:1320px;
  /* background-color: snow; */
    justify-content: center;
    flex-direction: column;
}

.session-form-signup-div {
  display: flex;
  /* position: absolute; */
  /* top: 150px; */
  /* background-color: lawngreen; */
  width: inherit;
  margin: 0px auto;

  /* margin-top: inherit; */
}