.friend-index-component-container {
  min-height: 955px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
}


/* first section */
.friend-index-first-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 320px;
  margin: 20px auto;
}
  .friend-index-first-section article {
    width: 160px;
    height: 48px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* border-bottom: solid cornflowerblue; */
  }

  .friend-index-first-section article a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 14px;
    width: 100%;
    padding: 15px 0px;
  }



/* second section */

.friend-index-second-section {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0px auto;
}

.friend-index-second-section aside {
  width: fit-content;
  margin: 15px 0;
}

/* index item */

.friend-index-item-component-container {
  width: 342px;
  height: 82px;
  display: flex;
  flex-direction: row;
  background-color: white;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 8px;
}

  #friend-index-item-pic {
    width: 60px;
    height: 60px;
    margin: auto 10px auto 10px;
    background-color: royalblue;
    border-radius: 30px;
  }

  .friend-index-item-body-email {
    display: flex;
    font-size: 14px;
    color: #0076C0;
    text-decoration: none;
    text-transform: capitalize;

  }

  .friend-index-item-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }