
/* mid section */

.friend-index-component-mid-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
  .friend-index-component-mid-section span {
    width: 685px;
    margin: 15px auto;
    font-size: 16px;
    font-weight: 600;
  }

#friend-search-box-container {
  display: flex;
  flex-direction: row;
  margin: 0px auto 0px auto;
  width: 700px;
  height: 40px;
}

  #friend-search-box-container input {
    width: 75%;
    margin: 0px 8px;
    border: lightgrey solid 1px;
  }

  #friend-search-box-container button {
    text-transform: uppercase;
    color: white;
    background-color: #009ce9;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    width: 25%;
    margin: 0px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  /* last section */
  .search-item-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    flex-wrap: wrap;
    margin: 0px auto 0px auto;
  }

  .search-item {
    width: 350px;
    background: white;
    height: 82.75px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
  }

    .search-item span {
      font-size: 14px;
      color: #009ce9;
      text-transform: capitalize;
      display: flex;
      flex-direction: row;
    }
      .searched-item-pic {
        width: 60px;
        height: 60px;
        margin: auto 10px;
        border-radius: 30px;
      }

    .search-item button {
      width: 65px;
      height: 33px;
      border-radius: 4px;
      border: #009ce9 solid 1px;
      background: white;
      margin: auto 10px;
    }
    .search-item button:hover {
      background-color: rgb(192, 235, 235);
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }

      .search-item button div {
        color: #009ce9;
        font-size: 12.25px;
        font-weight: 600;
      }


