.homepage-body {
  min-width: 960px;
  max-width: 960px;
  min-height: 1360px;
  height: fit-content;
  margin: 0px auto 0px auto;
  position: relative;
  top: 62px;
  margin-bottom: 55px;
}

.homepage-body-header {
  min-height: 125px;
  max-height: 125px;
  border-top: solid 1px aliceblue;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

#ecbannerblue {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  width: 960px;
  height: 46px;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 12.5px;
}

#ecbannerblue figure {
  margin-left: 54px;
}

.homepage-body-header-radios {
  width: fit-content;
  height: 44px;
  background-color: #f0f0f0;
  margin-top: auto;
  display: flex;
  flex-direction: row;

  position: relative;
  left: 3px;
}
/* 622 1288 */

.homepage-body-header-radios :nth-child(1) label {
  left: 65px !important;
  font-size: 16px !important;
  color: rgb(4, 106, 178) !important;

  background-color: transparent;
}
.homepage-body-header-radios :nth-child(2) label {
  left: 330px;
  font-size: 16px !important;
  color: rgb(4, 106, 178) !important;
  background-color: transparent;
}
.homepage-body-header-radios :nth-child(3) label {
  left: 610px !important;
  font-size: 16px !important;
  color: rgb(4, 106, 178) !important;
  background-color: transparent;
}

.homepage-body-header-radios label{
  position: absolute;
  max-width: fit-content !important;
  max-height: fit-content !important;
  cursor: pointer;
}

.homepage-body-header-radios a {
  border-color: gray;
  padding: 0px;
  margin: 0px;
  width: 256px;
  height: 44px;
  background-color: #f6f6f6;
  border: solid 1px lightgrey;
  border-bottom: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.homepage-body-header-radios a:hover {
  background: lightgrey;
}

.homepage-body-inner-dashboard-container {
  margin-bottom: 100px;
  display: flex;
  max-width: 960px;
  min-height: 1280px;
  height: fit-content;
  border-top: grey solid 1px;
  position: relative;
  left: 3px;
}

/* .recharts-tooltip-wrapper {
  background-color: greenyellow !important;
  width: fit-content !important;
}
.recharts-tooltip-item-tip {
  background-color: greenyellow !important;
  width: fit-content !important;
} */

/* .recharts-tooltip-wrapper, .recharts-tooltip-wrapper-left, .recharts-tooltip-wrapper-top {
  background-color: greenyellow !important;
  width: fit-content !important;
} */

.recharts-wrapper div {
  width: fit-content !important;
}

.recharts-wrapper {
  width: 620px !important;
}