.homepage-body {
  min-width: 960px;
  max-width: 960px;
  min-height: 1360px;
  max-height: 1630.62px;
  margin: 0px auto 0px auto;
  /* background-color: green; */
  position: relative;
  top: 3px;
}

/* <ActivityFeedContainer prop={props}/>
      <StatsContainer prop={props}/> */

.homepage-body-header {
  min-height: 125px;
  max-height: 125px;
  /* background-color: hotpink; */
  border-top: solid 1px aliceblue;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.homepage-body-header figure{
  width: 960px;
  height: 54px;
  background-color: aliceblue;
}

.homepage-body-header-radios {
  width: 770px;
  height: 44px;
  background-color: #f0f0f0;
  margin-top: auto;
  display: flex;
  flex-direction: row;

  position: relative;
  left: 3px;
}
/* 622 1288 */

.homepage-body-header-radios :nth-child(1) label {
  left: 30px !important;
  font-size: 16px !important;
  color: rgb(4, 106, 178) !important;
  width: 150px !important;
  height: 45px !important;
  background-color: transparent;
}
.homepage-body-header-radios :nth-child(2) label {
  left: 330px;
  font-size: 16px !important;
  color: rgb(4, 106, 178) !important;
  width: 150px !important;
  height: 45px !important;
  background-color: transparent;
}
.homepage-body-header-radios :nth-child(3) label {
  left: 630px !important;
  font-size: 16px !important;
  color: rgb(4, 106, 178) !important;
  width: 150px !important;
  height: 45px !important;
  background-color: transparent;
}

.homepage-body-header-radios label{
  position: absolute;
}

.homepage-body-header-radios a {
    border-color: gray;
    padding: 0px;
    margin: 0px;
    width: 256px;
    height: 44px;
    /* -webkit-appearance: none; */
    background-color: #f6f6f6;
    border: solid 1px lightgrey;
    border-bottom: none;
}

.homepage-body-inner-dashboard-container {
  display: flex;
  max-width: 960px;
  min-height: 1280px;
  max-height: 1280px;
  border-top: grey solid 1px;
  
  position: relative;
  left: 3px;
}

