.session-form-login-body {
  z-index: 3;
  min-width: 1450px;
  height: 997px;
  background-color: #F0F0F0;
  position: relative;
  right: 60px;  
  align-items: center;
}
.session-form-login-container {
  display: flex;
  justify-content: center; 
  height: inherit;
  width: inherit;
}


.session-form-login {
  display: flex;
  flex-direction: column;
  /* border: solid red 1px; */
  width: 320px;
  height: 316px;
  margin-top: 90px;
  position: relative;
  left: 2px;
  bottom: 2px;
}


.session-form-signup-link {
  text-align: right;
  margin-bottom: 20px;
}
.session-form-signup-link :last-child{
  font-size: 14px;
  text-decoration: none;
}

.session-form-login button:first-of-type {
  font-size: 14px;
  background-color: #3c5997;
  color: white;
  width: 320px;
  height: 55px;
}
.session-form-login p:first-of-type {
  text-align: center;
  margin: 15px 0px 15px 0px;
  font-weight: 400;
  font-family: arial;
  font-size: 13px;
  letter-spacing: -1px;
  word-spacing: -2px;
  transform: scale(0.9, 1.05);
  color: darkgray;
  width: 350px;
  right: 13px;
  position: relative;
}
.session-form-login input {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  background-color: #F0F0F0;
  color: #9297A3;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 12px 16px 12px;
  border: 1px solid darkgrey;
  line-height: 1.21;
  height: 44px;
  background: transparent;
  height: 18px;
  margin-bottom: 15px;
  opacity: 0.7;
}

.session-form-login a:last-of-type {
  text-align: center;
  /* font-family: ;  */
  color: #9297A3;
  margin-bottom: 20px;
  font-size: 14px;
}
.session-form-login button:last-of-type {
  background-color: rgb(29, 221, 124);
  padding: 12px 15px;
  color: white;
  border: none;
  height: 45.732px;
}

