

.main-header-navbar-div {
  /* display: flex; */
  justify-content: right;
  max-height: 35px;
}

.outermost-navbar-div {
  height: 65px;
  margin-right: 255px;
  margin-top: 30px;
  /* background-color: #f0f0f0; */
}

.navbar-auth {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  
}

.navbar-auth Link {
  padding-left: 50px;
}







