
/* route page container */

#route-page-container {
  width: 100vw;
  height: 80vh;
  position: absolute;
  z-index: 300;
  top: 110px;
}

/* page left */
#map-page-left {
  min-width: 340px;
  min-height: 610px;

  background-color: green;
  border-right: solid 1px black;
}

/* page right */
#map-container {
  /* width: 80vw; */
  /* height: 100vh; */
  position: relative;
  overflow: hidden !important;
}

#map-page-left {
  
}


