
/* route page container */

.route-page-container {
  width: 100vw;
  height: 85vh;
  position: absolute;
  z-index: 300;
  top: 107px;
  right: 0px;
  display: flex;
  flex-direction: row;
}

/* page left */
#map-page-left {
  width: 23.7%;
  height: 100%;
  background-color: whitesmoke;
  border-right: solid 2px black;
}

/* page right */
#map-container {
  width: 76.3%;
  height: 100%;
  position: relative;
  overflow: hidden !important;
}

/* page right */
#map-page-right {
  position: absolute;
  top: 215px;
  /* width: 20%; */
  width: 185px;
  margin: 35px 10px 25px 85px;
  right: 0;
  z-index: 900;
  box-shadow: 2px 4px 8px 0px rgba(0,0,0,0.35);
  border-radius: 2px;
  border: 1px solid #111;
  color: #6e6e6e;
  overflow: hidden;
}

  .map-page-right-distance-container {
    display: flex;
    flex-direction: column;
    background-color: #525252;
    background: rgba(51,51,51,0.75);
    text-shadow: 1px 1px 2px #000;
  }

  .map-page-right-distance-container div {
    display: flex;
    flex-direction: row;
    color: white;
  }

  .map-page-right-buttons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: whitesmoke;
  }
  .map-page-right-buttons-container button{
    width: 60px;
    height: 40px;
    margin: 3px 3px;
    background-image: linear-gradient(to bottom right, whitesmoke, lightgrey);
    font-size: 9.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 2px;
    border: solid 1px grey;
  }

  #map-page-right strong {
    background-color: whitesmoke;
    width: 100%;
    padding: 0px 72% 0px 0px;
  }


/* spacer */

#ec-123-map-spacer {
  height: 50vh;

}
