/* .input-first-name {
  margin: 2px;
  background-color: chartreuse;
}

.input-last-name {
  margin: 2px;
  background-color: blue;
} */

.error-hidden {
  display: none;
}
.error {
  position: relative !important;
  color: crimson !important;
  font-size: 12px !important;
  bottom: 10px !important;

  text-align: left !important;
  font-weight: 400 !important;
  font-family: arial !important;
  letter-spacing: 0px !important;
  word-spacing: 0px !important;
  transform: scale(1, 1) !important;
  width: 320px !important;
  right: 0px !important;
  margin: 3px 0px 9px 0px!important;
}

