.session-form-signup-body {
  z-index: 3;
  min-width: 1450px;
  height: 997px;
  background-color: #F0F0F0;
  position: relative;
  right: 60px;  
  align-items: center;
  display: flex;
  justify-content: center;
}

.session-form-signup-captcha {
  position: fixed;
  background-image: url(captcha.png);
  background-size: contain;
  height: 30px;
  width: 30px;
}
.session-form-signup-container {
  display: flex;
  justify-content: center; 
  height: inherit;
  width: inherit;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 320px;
  max-height: 745px;
  position: relative;
  left: -5px;
  bottom: 35px;
}

.session-form-signup {
  display: flex;
  flex-direction: column;
  /* border: solid red 1px; */
  width: 320px;
  height: 316px;
  margin-top: 90px;
  position: relative;
  left: 2px;
  bottom: 2px;
}

.session-form-signup-inner {
  display: flex;
  flex-direction: column;
}

/* .session-form-signup-input {
  margin-bottom: 15px;
} */

/* .session-form-signup-input input {
  min-width: -webkit-fill-available;
  background-color: #F0F0F0;
} */

.session-form-signup-birthdate {
  display: flex;
  flex-direction: row;
}

.session-form-login-link {
  text-decoration: none;
  text-align: right;
  color: darkgray;
  font-weight: 400;
  font-family: arial;
  font-size: 13px;
  letter-spacing: 0px;
  word-spacing: -2px;
  transform: scale(0.9, 1.05);
  margin-left: 277px;
  margin-bottom: 19px;
  width: 45px;
}

.session-form-signup-container button:first-of-type {
  font-size: 14px;
  background-color: #3c5997;
  color: white;
  width: 320px;
  border: none;
  border-radius: 2px;
  position: relative;
  top: 1px;
  height: 44px;
}

.session-form-signup-container p:first-of-type {
  margin: 15px auto 15px auto;
  font-size: 13px;
  color: rgb(146, 151, 163);
}
.session-form-signup-container p:first-of-type {
  text-align: center;
  font-weight: 400;
  font-family: arial;
  letter-spacing: -1px;
  word-spacing: -2px;
  transform: scale(0.9, 0.9);
  width: 350px;
  right: 13px;
  position: relative;
  margin: 15px auto 15px auto;
  font-size: 13px;
  color: rgb(146, 151, 163);
}
.signup-form-or-fancy {
  height: 0.5px;

}

.session-form-signup-input input {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  background-color: #F0F0F0;
  color: #9297A3;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 12px 16px 12px;
  border: 1px solid darkgrey;
  line-height: 1.21;
  height: 44px;
  background: transparent;
  height: 18px;
  margin-bottom: 15px;
  opacity: 0.7;
}

.session-form-signup a:last-of-type {
  text-align: center;
  /* font-family: ;  */
  color: #9297A3;
  margin-bottom: 20px;
  font-size: 14px;
}
.session-form-signup button:last-of-type {
  background-color: rgb(29, 221, 124);
  padding: 12px 15px;
  color: white;
  border: none;
  height: 45.732px;
}


.session-form-signup-container input:focus {
  background-color: white;
  outline: none;
  border-color: #9ecaed;
  box-shadow: 1px 0 10px #9ecaed;
}
