.session-form-signup-body {
  z-index: 3;
  min-width: 1440px;
  height: 997px;
  background-color: #F0F0F0;
  position: relative;
  right: 60px;  
  align-items: center;
  display: flex;
  justify-content: center;
}

.session-form-signup-captcha {
  position: fixed;
  background-image: url(captcha.png);
  background-size: contain;
  height: 30px;
  width: 30px;
}
.session-form-signup-container {
  display: flex;
  justify-content: center; 
  height: inherit;
  width: inherit;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 320px;
  max-height: 746px;
  position: relative;
  left: 0px;
  bottom: 35px;
}

.session-form-signup {
  display: flex;
  flex-direction: column;
  /* border: solid red 1px; */
  width: 320px;
  height: 316px;
  margin-top: 90px;
  position: relative;
  left: 2px;
  bottom: 2px;
}

.session-form-signup-inner {
  display: flex;
  flex-direction: column;
}

/* .session-form-signup-input {
  margin-bottom: 15px;
} */

/* .session-form-signup-input input {
  min-width: -webkit-fill-available;
  background-color: #F0F0F0;
} */

.session-form-signup-birthdate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.session-form-login-link {
  text-decoration: none;
  text-align: right;
  color: darkgray;
  font-weight: 400;
  font-family: arial;
  font-size: 13px;
  letter-spacing: 0px;
  word-spacing: -2px;
  transform: scale(0.9, 1.05);
  margin-left: 277px;
  margin-bottom: 19px;
  width: 45px;
}

.session-form-signup-container button:first-of-type {
  font-size: 14px;
  background-color: #3c5997;
  color: white;
  width: 320px;
  border: none;
  border-radius: 2px;
  position: relative;
  top: 1px;
  min-height: 44px;
  cursor: pointer;
}

.session-form-signup-container p:first-of-type {
  margin: 15px auto 15px auto;
  font-size: 13px;
  color: rgb(146, 151, 163);
}
.session-form-signup-container p:first-of-type {
  text-align: center;
  font-weight: 400;
  font-family: arial;
  letter-spacing: -1px;
  word-spacing: -2px;
  transform: scale(0.9, 0.9);
  width: 350px;
  right: 13px;
  position: relative;
  margin: 15px auto 15px auto;
  font-size: 13px;
  color: rgb(146, 151, 163);
}
.signup-form-or-fancy {
  height: 0.5px;

}

.session-form-signup-input input {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  background-color: #f0f0f0;
  color: #9297A3;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 12px 16px 12px;
  border: 1px solid darkgrey;
  line-height: 1.21;
  height: 44px;
  background: transparent;
  height: 18px;
  margin-bottom: 15px;
  opacity: 0.7;
}

.session-form-signup a:last-of-type {
  text-align: center;
  /* font-family: ;  */
  color: #9297A3;
  margin-bottom: 20px;
  font-size: 14px;
}
.session-form-signup button:last-of-type {
  background-color: rgb(29, 221, 124);
  padding: 12px 15px;
  color: white;
  border: none;
  height: 45.732px;
}


.session-form-signup-container input:focus {
  background-color: white;
  outline: none;
  border-color: #9ecaed;
  box-shadow: 1px 0 10px #9ecaed;
}

.session-form-signup-birthdate select { /* */
  -webkit-appearance: none;
  color: #9297A3;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 12px 16px 12px;
  border: 1px solid darkgrey;
  height: 44px;
  background: transparent;
  margin-bottom: 15px;
  opacity: 0.8;
}

.session-form-signup-input-birth {
  max-height: 44px;
  /* background-image: url(drop_down_arrow.png); */
  /* background-size: 15px; */
  /* background-repeat: no-repeat;
  background-position-x: 49.4px;
  background-position-y: 14px;
  background-color: #f0f0f0;
  background-blend-mode: darken; */
}

.session-form-signup-input-birth :nth-child(1) {
  width: 78px !important;
  max-height: 44px;
    background-image: url(drop_down_arrow.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position-x: 49.4px;
    background-position-y: 14px;
    background-color: #f0f0f0;
    background-blend-mode: darken;
    cursor: pointer;
}
#month-selector {
  width: 122px !important;
  max-height: 44px;
    background-image: url(drop_down_arrow.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position-x: 94.5px;
    background-position-y: 14px;
    background-color: #f0f0f0;
    background-blend-mode: darken;
}
#year-selector {
  width: 85px !important;
  max-height: 44px;
    background-image: url(drop_down_arrow.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position-x: 55.4px;
    background-position-y: 14px;
    background-color: #f0f0f0;
    background-blend-mode: darken;
}
/* .session-form-signup-birthdate :first-child {
  max-width: 78px; */
}
/* .session-form-signup-birthdate :first-child select{
  max-width: 78px;
} */
.session-form-signup-birthdate :nth-child(3) {
  max-width: 122px;
  background-position-x: 93px;
}
.session-form-signup-birthdate :nth-child(3) select {
  max-width: 122px;
}
.session-form-signup-birthdate :nth-child(4) {
  max-width: 85px;
  background-position-x: 56px;
}
.session-form-signup-birthdate :nth-child(4) select {
  max-width: 85px;
}

.session-form-signup-gender {
  display: flex;
  justify-content: space-between;
  min-width: 320px;
}
.session-form-signup-gender label {
  min-width: 152.5px;
  min-height: 44px;
}
.session-form-signup-gender label span {
  position: absolute;
  bottom: 301px;
  right: 272.5px;
  font-size: 14px;
  color: darkgray;
}

.session-form-signup-gender :nth-child(2) span {
  position: absolute;
  bottom: 301px;
  right: 89px;
}

.session-form-signup-gender label input{
  height: 44px;
  width: 44px;
  -webkit-appearance: none;
  border: 1px solid darkgrey;
  width: 152.5px;
  margin: 0px;
  opacity: 0.7;
  cursor: pointer;
}


/* selectors */
.session-form-signup-location {
  width: 100%;
  height: 44px;
  border: 1px solid;
  padding: 0px;
  margin: 16px 0px 15px 0px;
  display: flex;
  border: solid 1px darkgrey;
  opacity: 0.7;
}
.session-form-signup-location input {
  width: 100%;
  background-color: #f0f0f0;
  border: none;
}

#locations-selector {
  width: inherit;
  color: #9297A3;
  background-image: url(drop_down_arrow.png);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position-x: 289.4px;
  background-position-y: 14px;
  background-color: #f0f0f0;
  background-blend-mode: darken;
  border: none;
  -webkit-appearance: none;
  text-indent: 15px;
  cursor: pointer;
}

.session-form-signup-offer-checkbox {
  width: 320px;
  height: 36px;
  margin: 10px 0px 51px 0px;
  
}
.session-form-signup-offer-checkbox div {
  display: flex;
  flex-direction: row;

}
.session-form-signup-offer-checkbox span{
  text-align: left;
  font-weight: 400;
  font-family: arial;
  font-size: 13px;
  letter-spacing: 0px;
	word-spacing: -2px;
  transform: scale(0.9, 1.05);

}

.session-form-signup-offer-checkbox span {
  font-size: 14px;
  font-weight: 400;
  font-family: arial;
  
  letter-spacing: 0px;
	word-spacing: -2px;
  transform: scale(0.9, 1.05);
  -webkit-font-smoothing: none;
  font-size: 15px;
  position: relative;
  left: -10px;
  top: 2px;
  word-spacing: -0.7px;
  transform: scale(0.9, 1.03);
  opacity: 0.6;
}
.session-form-signup-offer-checkbox input {
  height: 24px;
  width: 37.1px;
  -webkit-appearance: none;
  background-color: #f0f0f0;
  border: 0.5px solid darkgray;
  position: relative;
  top: 14px;
  margin: 0px 10px 0px 0px;
  opacity: 0.7;
}

.session-form-signup-last-span {
  min-width: 38px;
  margin: 0px 0px 27px 0px;
  text-align: center;
  line-height: 1.2;
  position: relative;
  top: -1.5px;
}
.session-form-signup-last-span span {
  font-size: 14px;
  color: #9297A3;
}
.session-form-signup-last-span a {
  text-decoration: none;
  color: dodgerblue;
}

.session-form-signup-last-button {
  background-color: #1ddd7b !important;
}